@font-face {
  font-family: 'Uhbee mysen';
  src: url('../font/UhBeemysen/UhBee.ttf');
}

@font-face {
  font-family: 'Uhbee mysen Bold';
  src: url('../font//UhBeemysen/UhBeeBold.ttf');
}

@font-face {
  font-family: 'ChosunGs';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KyoboHandwriting2019';
  src: url('../font/KyoboHandwriting2019/KyoboHandwriting2019.woff')

}